/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.input-password.MuiInputBase-root {
    padding: 4px;
    font-size: 0.894rem;
    font-weight: 400;
    line-height: 1.54;
    color: #4e5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: 0.25rem;
}

.input-password .MuiInputAdornment-root {
    padding-right: 15px;
}

.btn-login.MuiButton-root {
    margin-top: 20px;
    border-color: #7367f0 !important;
    /* background-color: #7367f0 !important; */
    background-image: linear-gradient(47deg, #7367f0, #9185fd);
}

.btn-login.MuiButtonBase-root:hover {
    box-shadow: 0 8px 25px -8px #7367f0;
}

.login-card.MuiGrid-root {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    padding: 50px;
    max-width: 400px;
}

ul {
    list-style-type: none;
}
.menu {
    display: flex;
}

.menu li {
    /* margin-left: 20px; */
    padding: 0.586rem 1.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 0.358rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li.active {
    color: #fff;
    border-color: #7367f0;
    -webkit-box-shadow: 0 4px 18px -4px rgb(115 103 240 / 65%);
    box-shadow: 0 4px 18px -4px rgb(115 103 240 / 65%);
    background-color: #7367f0;
}

.MuiTableCell-root {
    border-left: 1px solid rgba(224, 224, 224, 1) !important;
}

.MuiTable-root {
    padding: 10px;
    border: 1px solid rgba(224, 224, 224, 1) !important;
}

td.MuiTableCell-body.status_hold_own:hover,
.status_hold_free:hover {
    /* background-color: rgb(238, 235, 235); */
    box-shadow: 0 2px 11px -4px rgb(115 103 240 / 65%);
}

td.MuiTableCell-body.status_hold_auther {
    color: #fd7474;
    border-color: #fb6767;
    border: 1px solid #ffb3b3 !important;
    border-top: 1.2px solid #ffb3b3 !important;
    background-color: #ff959566;
}

td.MuiTableCell-body.status_hold_own {
    font-weight: bolder;
    color: #ff0000;
    border-color: #ff0f0f;
    border: 2px solid #ffb3b3 !important;
    border-top: 2px solid #ffb3b3 !important;
    background-color: #ff6a6a66;
}

td.MuiTableCell-body {
    background-color: #f5f4ff;
    font-size: small;
    line-height: 0.6rem;
}

td.MuiTableCell-body.status_hold_free {
    background-color: #f5f4ff;
    cursor: pointer;
}

/* td.MuiTableCell-body:not(.status_hold_auther){
  color: #bd2525;
  border-color: #fb6767;
  border: 1px solid #ffb3b3!important;
  border-top: 1.2px solid #ffb3b3 !important;
} */

td.MuiTableCell-body.status_hold_auther p:first-child {
    /* font-weight: bold; */
}

.react-datepicker__input-container > input {
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #c1c1c1;
    height: 34px;
    width: 100%;
    padding-left: 5px;
}
